name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: # Specify your branches here
      - main # The 'main' branch
      - 'releases/*' # The release branches

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis
          
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8 # 원하는 pnpm 버전
          run_install: false # 의존성 설치를 수동으로 실행
          dest: ~/setup-pnpm # pnpm 파일을 저장할 경로
          package_json_file: package.json # package.json 경로 (기본값 유지)
          standalone: false # Node.js 없이 실행 가능하도록 standalone 설치 여부

      - name: Install dependencies
        run: pnpm install

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.2
        with:
          pr-mode: false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_592621362 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
